@media only screen and (max-width: 800px) {
  .image-header h1 {
    display: none; }

  .social-box {
    top: 80px !important; }
    .social-box .social {
      display: none; }

  .landing {
    width: 80%;
    margin: 0%; }

  nav {
    display: none; }

  .secondary {
    margin-top: 0px; }

  .logo {
    padding-top: 20px; }

  header {
    margin-bottom: 20px; }

  .four-col, .five-col, .ticket-box {
    width: 100% !important;
    padding-bottom: 20px; }

  .page section .main, .page section .intro {
    width: 100%; }

  .mobile-nav a {
    width: 40%; }

  .single {
    position: relative; }
    .single .left {
      width: 100%;
      padding-right: 0%;
      position: relative;
      margin-left: 0%;
      padding-bottom: 100px; }
    .single .right {
      width: 100%;
      padding-right: 0%; }

  .third {
    width: 100%; }

  .price {
    padding: 10%;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40px; }

  .left, .right {
    width: 100%;
    padding-right: 0%;
    position: relative;
    margin-left: 0px; }

  .post-container-title h1 {
    font-size: 40px;
    text-align: left; }

  .post-left {
    width: 100%; }

  .post-right {
    padding-top: 20px;
    width: 100%; }

  img.footer-logo {
    padding-bottom: 30px; }

  .latest-news, .container {
    padding-top: 130px; }

  .not-sale {
    display: none; }

  .image-header .home-title {
    position: relative;
    bottom: 0px;
    top: 20px;
    width: 100%;
    text-align: center; }

  .image-header .home-title h2, .image-header .home-title p {
    color: #0f346b; }

  .latest-post {
    width: 100%; }
 }

@media only screen and (max-width: 600px) {
  .logo img {
    width: 200px; }

  .social-box {
    top: 40px !important;
    right: 10px;
    margin-right: 1%; }
    .social-box img {
      width: 25px; }

  .home .tickets {
    margin-top: 70%; }

  .post-container-title h1 {
    font-size: 34px;
    padding-bottom: 20px; }

  footer img.footer-img {
    display: none; }

  footer .text-right {
    text-align: center !important; }

  img.footer-logo {
    left: 15% !important;
    padding-bottom: 50px; }

  #splash {
    padding-top: 10%; }
    #splash img {
      height: 100%;
      width: 100%;
      margin: 5% auto;
      padding: 0 10px; }
 }
