header.mobile{
    width:100%;
    background: rgba(255,255,255,0.7);
    clear:both;
    position: fixed;
    z-index:3000;
    display:none;
}

header.mobile .logo{
    width:40%;
    max-width:400px;
    min-width: 200px;
    float:left;
    margin:1em 5%;
    padding:0;
}

header.mobile .logo img{
    width:100%;
    height:auto;
}

header.mobile .toggle{
    width:35px;
    float:right;
    margin:2em 5% 0 5%;
    cursor: pointer;
}

header.mobile .toggle .line{
    width:100%;
    height:5px;
    margin:3px 0;
    background: #1F3769;
}

header.mobile nav{
    clear:both;
    width:100%;
    margin:1em 0;
    text-align: center;
    display: none;
}

header.mobile nav ul{
    padding:0;
}

header.mobile nav a{
    text-decoration: none;
    color:#1F3769;
}

header.mobile nav li{
    font-size: 1.5em;
    margin:0.5em 0;
    padding:0;
    color:#1F3769;
}

header.mobile nav li img{
	min-width:120px;
}

header.mobile nav .social-box-mobile{
    float:right;
    text-align: right;
    margin:0 5%;
}

header.mobile nav .social-box-mobile li{
    font-size: 0.875em;
    margin:0;
}

/* New Home Page
----------------------------------------------------------------------------------------------------*/

.latest-news{
	width:97%;
	height:auto;
	margin: 0 1.5%;
}

.single-news{
	width:25%;
	float:left;
	position: relative;
}

.buy-now h1{
	font-size: 3em !important;
}

.single-news .overlay{
	position: absolute;
	width:100%;
	height:100%;
	background: rgba(255,255,255,0.15);
	bottom:0;
	right:0;
}

.single-news .overlay:hover{
	background: rgba(255,255,255,1);
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.single-news .overlay:hover h1{
	color:  #1F3769;
}

.single-news h1{
	position: absolute;
	font-size: 1.125em;
	line-height: normal !important;
	max-width: 70%;
	text-align: right;
	margin:0;
	padding:0;
	right:5%;
	bottom:10%;
	color:white;
	/*padding:5%;*/
}

.single-news:first-child{
	width:50%;
}


#instafeed{
	width:100%;
	margin: 0%;
	height:auto;
}

#instafeed img{
	width:20%;
	height:auto;
	float:left;
	margin:0;
}

.no-margin{
	padding-top:50px !important;
}

.hashtag-logo{
	display: none;
}

@media only screen and (max-width: 960px) {
	.single-news{
		width:50%;
		float:left;
		position: relative;
	}

	.single-news:first-child{
		width:100%;
	}
}

@media only screen and (max-width: 600px) {
	.single-news{
		width:100%;
		clear:both;
		position: relative;
	}
	
	.single-news h1{
	font-size: 2em !important;
	}

	.single-news:first-child{
		width:100%;
	}

	#instafeed img{
	width:100%;
	height:auto;
	float:left;
	}
	
	.insta-icon, #instafeed img{
		display: none;
	}
	
	.hashtag-logo{
		display: block;
		width: 300px;
		margin: 0 auto;
	}
}


/* `Divz
----------------------------------------------------------------------------------------------------*/


.logo{
	width: 100%;
	padding-top:10px;
}

.logo img{
	width: 280px;
}

h1 img{
	width: 90%;
}


.post-container{
	overflow: hidden;
	padding-bottom: 80px;
}

.post-container-title{
	width: 100%;
}

.post-left, .post-right{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.post-right{
	padding-left: 5%;
}

.page-id-44 .announcment{
	display: none;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 5px;
}

div.wpcf7 img.ajax-loader{
width: 16px;
}


.not-sale{
	opacity: 0.2;
}


.five-col .blue{
	text-align: left !important;
}

.price{
	padding: 10%;
	text-align: center;
	padding-bottom: 25%;
	padding-top: 25%;
	margin-bottom: 10px;
}

.price p{
	padding-bottom: 0px;
}
.five-col i{
	font-size: 11px;
	width: 100%;
}

#ticket-page .price{
	border: 3px solid #0f346b;
}




.price:hover{
	background-color: #0f346b;
}

.price:hover p, .price:hover h3 {
	color: white;
}


.single-post figure{ 
	padding-bottom: 30px;
}

a.button.listen{
	padding-top: 10px;
	display: block;
}

a.listen-link{
	color: #666 !important;
	letter-spacing: 0px;
	line-height: 20px;
}

.page-id-19 .post-container{
	padding-bottom: 0px;
}


