/* Shorties
----------------------------------------------------------------------------------------*/
/* Structure
----------------------------------------------------------------------------------------*/
/* Header / Body
----------------------------------------------------------------------------------------*/
/* Homepage
----------------------------------------------------------------------------------------*/
.unslider {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: auto;
  position: absolute;
  top: 0px; }

.home .image-header {
  width: 100%;
  position: relative;
  z-index: -1; }

.slide {
  position: relative; }
  .slide img {
    position: relative; }
  .slide .title-section {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    width: 100%;
    padding: 0 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.image-header {
  padding-bottom: 100px;
  position: relative; }
  .image-header .home-title {
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: center; }
    .image-header .home-title h2, .image-header .home-title p, .image-header .home-title a {
      color: white; }
    .image-header .home-title a {
      border-bottom: 3px solid #fff; }
  .image-header h1 {
    position: absolute;
    top: 8%;
    right: 5%;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

/* Lineup
----------------------------------------------------------------------------------------*/
/* News / index.php
----------------------------------------------------------------------------------------*/
/* Single - posts 
----------------------------------------------------------------------------------------*/
/* Page
----------------------------------------------------------------------------------------*/
/* News
----------------------------------------------------------------------------------------*/
/* Boring Page
----------------------------------------------------------------------------------------*/
/* Buy Tickets
----------------------------------------------------------------------------------------*/
/* Footer
----------------------------------------------------------------------------------------*/
/* Page-Intro
----------------------------------------------------------------------------------------*/