/* Shorties
----------------------------------------------------------------------------------------*/
/* Structure
----------------------------------------------------------------------------------------*/
/* Header / Body
----------------------------------------------------------------------------------------*/
.border {
  margin: 1%;
  border: 5px solid #0f346b;
  position: relative; }

.content {
  padding: 5%;
  padding-top: 3.5%; }

.mobile-nav {
  background-color: #0f346b;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .mobile-nav ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 30px; }
  .mobile-nav li {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    color: white;
    font-weight: 200;
    font-size: 17px; }
    .mobile-nav li img {
      width: 100%; }
  .mobile-nav a {
    display: block;
    padding: 0px;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: none;
    width: 20%;
    margin: 0 auto; }

.close {
  position: fixed;
  top: 30px;
  width: 30px;
  right: 5%; }

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center; }
nav li {
  display: inline-block;
  padding: 0 2%;
  font-size: 18px; }
nav a {
  display: block;
  padding: 0px;
  padding-bottom: 40px;
  text-decoration: none;
  border-bottom: none; }

header {
  margin-bottom: 0px; }

.social-box {
  margin-right: 3.5%;
  text-align: right;
  position: fixed;
  right: 20px;
  top: 65px;
  z-index: 9999; }
  .social-box img {
    width: 35px;
    margin-bottom: 20px; }
  .social-box li {
    padding: 5px; }

.logo h1 {
  padding-bottom: 0px;
  padding-top: 0px; }
.logo a {
  border-bottom: 0px; }

/* Homepage
----------------------------------------------------------------------------------------*/
.home .image-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }
.home .tickets {
  margin-top: 45%; }
.home .shadow {
  cursor: crosshair;
  -moz-box-shadow: -5px -5px 5px #888;
  -webkit-box-shadow: -5px -5px 5px #888;
  box-shadow: -5px -5px 5px #888; }

.tickets {
  padding-bottom: 100px; }

.ticket-box {
  width: 20%;
  float: left;
  padding: 0 0.7%; }
  .ticket-box .price {
    border: 5px solid #0f346b; }
  .ticket-box p {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    padding-top: 5px; }
  .ticket-box h3 {
    font-size: 24px; }

.latest-post {
  text-align: center;
  padding-bottom: 100px;
  width: 60%;
  margin: 0 auto; }
  .latest-post .intro {
    text-transform: uppercase;
    padding-bottom: 0px !important; }
  .latest-post h1 {
    width: 70%;
    margin: 0 auto;
    line-height: 36px; }
  .latest-post p {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px; }

.trailer-container {
  width: 100%;
  padding: 2.5%;
  margin-top: 50px;
  padding-bottom: 100px; }

.main .trailer-container {
  width: 100%;
  padding: 2.5% 0;
  margin-top: 0px;
  padding-bottom: 0px; }

.more-info {
  text-align: center;
  padding-bottom: 100px; }
  .more-info p {
    font-size: 1.1em;
    line-height: 1.6em;
    font-weight: 600; }

#instafeed {
  padding-bottom: 100px;
  position: relative;
  overflow: auto; }

/* Lineup
----------------------------------------------------------------------------------------*/
/*.lineup{
	
	.third{
		h3{
			position: absolute;
			color: white;
			top:15px;
			right:15px;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
		}
	}

}

/* News / index.php
----------------------------------------------------------------------------------------*/
.news .third {
  padding: 1.5%;
  padding-bottom: 0%; }

/* Single - posts 
----------------------------------------------------------------------------------------*/
.image-header {
  padding-bottom: 100px;
  position: relative; }
  .image-header .home-title {
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: center; }
    .image-header .home-title h2, .image-header .home-title p {
      color: white; }
  .image-header h1 {
    position: absolute;
    top: 8%;
    right: 5%;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

.single {
  position: relative; }
  .single .left {
    width: 23%;
    padding-right: 5%;
    position: absolute;
    margin-left: 5%; }
  .single .right {
    width: 65.5%;
    padding-right: 5%; }
  .single p {
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 15px;
    font-weight: 300; }
  .single .embed-container {
    margin-bottom: 40px; }

/* Page
----------------------------------------------------------------------------------------*/
.page .latest-post {
  padding-bottom: 50px; }
.page section {
  border-top: 3px solid #0f346b;
  margin-bottom: 100px;
  padding-top: 10px; }
  .page section .intro {
    width: 20%;
    float: left;
    padding-right: 1.5%; }
  .page section .main {
    width: 80%;
    float: left;
    /*.third:nth-child(4){
				clear: both;
			}*/ }
    .page section .main .third, .page section .main .full-width {
      padding-bottom: 40px;
      padding-top: 25px;
      padding-right: 40px; }
      .page section .main .third h3, .page section .main .full-width h3 {
        font-size: 20px; }
      .page section .main .third p, .page section .main .full-width p {
        padding-bottom: 20px; }
      .page section .main .third a, .page section .main .full-width a {
        font-size: 1em; }

/* News
----------------------------------------------------------------------------------------*/
.page .news h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #0f346b;
  padding-top: 10px;
  height: 60px; }

/* Boring Page
----------------------------------------------------------------------------------------*/
.boring-page section .main {
  padding-left: 20px; }
  .boring-page section .main h2 {
    font-size: 22px;
    padding-top: 25px;
    color: black; }
  .boring-page section .main h3 {
    font-size: 18px;
    padding-top: 20px;
    color: black; }
  .boring-page section .main ul, .boring-page section .main li {
    color: black;
    line-height: 1.3em; }

/* Buy Tickets
----------------------------------------------------------------------------------------*/
#ticket-page section {
  border-top: none; }

.tix p {
  text-align: center;
  font-style: italic;
  font-size: 14px; }

.caravans h3 {
  margin-top: -5px; }

/* Footer
----------------------------------------------------------------------------------------*/
.announcment {
  background: white;
  position: relative; }

footer {
  padding-bottom: 10px;
  padding-top: 150px;
  background-color: white;
  position: relative;
  z-index: 999; }
  footer ul {
    padding-top: 0px;
    margin-top: -20px;
    margin-bottom: 40px; }
  footer li {
    display: inline-block;
    padding-left: 20px; }
  footer a {
    border-bottom: 0; }
  footer img {
    position: absolute;
    bottom: 45px;
    width: 200px; }
  footer img.footer-logo {
    left: 0;
    bottom: 0; }
  footer img.footer-img {
    right: 0; }

/* Page-Intro
----------------------------------------------------------------------------------------*/
#splash {
  height: 100vh; }
  #splash .content {
    padding: 0px;
    padding-top: 0px; }
  #splash .border {
    border: 0; }
  #splash header, #splash footer, #splash .announcment {
    display: none; }
  #splash img {
    height: 80vh;
    width: 80vh;
    display: block;
    margin: 2vh auto; }
  #splash p {
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 17px; }
  #splash .small-pad {
    padding-top: 5px; }

#splash {
  position: fixed;
  background-color: white;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }

a#splash:hover {
  opacity: 0.99; }

#splash:visited {
  opacity: 0; }

.visited {
  display: none; }
