/* Shorties
----------------------------------------------------------------------------------------*/

$blue: #0f346b;
$bigbutt: 100px;
$halfbutt: 50px;


/* Structure
----------------------------------------------------------------------------------------*/



/* Header / Body
----------------------------------------------------------------------------------------*/

.border{ 
	margin: 1%;
	border: 5px solid $blue;
	position: relative;
}

.content{
	padding: 5%;
	padding-top: 3.5%;	
}

.mobile-nav{
	background-color: $blue;
	position: fixed;
	z-index: 99999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: none;


  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 30px;
  }

  li { 
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 15px;
	color: white;
	font-weight: 200;
	font-size: 17px;
	
	img{
		width: 100%;
	}
	
  }
  
  a {
    display: block;
	padding: 0px;
	padding-bottom: 10px;
	text-decoration: none;
	border-bottom: none; 
	width:20%;
	margin: 0 auto;
  }

}

.close{
	position: fixed;
	top:30px;
	width:30px;
	right:5%;
}

nav {
  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li { 
	display: inline-block;
	padding: 0 2%;
	font-size: 18px;
  }


  a {
    display: block;
    padding: 0px;
    padding-bottom: 40px;
    text-decoration: none;
    border-bottom: none;
  }

}


header{
	margin-bottom: 0px;
}


.social-box{
	margin-right: 3.5%;
	text-align: right;
	position: fixed;
	right:20px;
	top:65px;
	z-index: 9999;
	
	img{
		width: 35px;
		margin-bottom: 20px;
	}
	
	li{
		padding: 5px;
	}
}

.logo{
	h1{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	a{
		border-bottom: 0px;
	}
}

/* Homepage
----------------------------------------------------------------------------------------*/

.home{
	.image-header{
		width: 100%;
		position: absolute;
		top: 0;
		z-index: -1;
	}
	
	.tickets{
		margin-top: 45%;
	}
	
	.shadow { cursor:crosshair; 
        -moz-box-shadow: -5px -5px 5px #888;
        -webkit-box-shadow: -5px -5px 5px #888;
        box-shadow: -5px -5px 5px #888; }   
}

.tickets{
	padding-bottom: $bigbutt;
}

.ticket-box{
	width: 20%;
	float: left;
	padding: 0 0.7%;
	
	.price{
		border: 5px solid $blue;
	}	
	
	p{
		text-align: center;
		font-style: italic;
		font-size: 0.80em;
		padding-top: 5px;	
	}
	h3{
		font-size: 24px;
	}
}


.latest-post{
	text-align: center;
	padding-bottom: $bigbutt;
	width: 60%;
	margin: 0 auto;
	
	.intro{
		text-transform: uppercase;
		padding-bottom: 0px !important;
	}
	
	h1{
		width:70%;
		margin: 0 auto;
		line-height: 36px;
	}
	
	p{
		width: 70%;
		margin: 0 auto;
		padding-bottom: $halfbutt;
	}

}

.trailer-container{
	width: 100%;
	padding: 2.5%;
	margin-top: $halfbutt;
	padding-bottom: $bigbutt;
}

.main{
	.trailer-container{
	width: 100%;
	padding: 2.5% 0;
	margin-top: 0px;;
	padding-bottom: 0px;
}
}

.more-info{
	text-align: center;
	padding-bottom: $bigbutt;
	
	p{
		font-size: 1.1em;
		line-height: 1.6em;
		font-weight: 600;
	}
}

#instafeed{
	padding-bottom: $bigbutt;
	position: relative;
	overflow: auto;
}

/* Lineup
----------------------------------------------------------------------------------------*/

/*.lineup{
	
	.third{
		h3{
			position: absolute;
			color: white;
			top:15px;
			right:15px;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
		}
	}

}

/* News / index.php
----------------------------------------------------------------------------------------*/

.news{
	.third{
		padding: 1.5%;
		padding-bottom: 0%;
	}
}

/* Single - posts 
----------------------------------------------------------------------------------------*/

.image-header{
	padding-bottom: $bigbutt;
	position: relative;
	
	.home-title{
		position: absolute;
		bottom: 200px;
		width: 100%;
		text-align: center;
		
		h2,p{
			color: white;
		}
	}
	
	h1{
		position: absolute;
		top:8%;
		right: 5%;
		color: white;
		text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	}
}

.single{
	position: relative;
	
	.left{
		width: 23%;
		padding-right: 5%;
		position: absolute;
		margin-left: 5%;
		
	}
	
	.right{
		width: 65.5%;
		padding-right: 5%;
	}
	
	p{
		font-size: 17px;
		line-height: 24px;
		padding-bottom: 15px;
		font-weight: 300;
	}
	
	.embed-container{
		margin-bottom: 40px;
	}
}


/* Page
----------------------------------------------------------------------------------------*/

.page{
	
	.latest-post{
		padding-bottom: $halfbutt;
	}
	
	section{
		border-top: 3px solid $blue;
		margin-bottom: $bigbutt;
		padding-top: 10px;
		
		.intro{
			width: 20%;
			float: left;
			padding-right: 1.5%;
		}
		.main{
			width: 80%;
			float: left;
			
			.third, .full-width{
				padding-bottom: 40px;
				padding-top: 25px;
				padding-right: 40px;
				
				h3{
					font-size: 20px;
				}
				
				p{
					padding-bottom: 20px;
				}
				
				a{
					font-size: 1em;
				}
			}
			
			/*.third:nth-child(4){
				clear: both;
			}*/
			
		}
	}
}

/* News
----------------------------------------------------------------------------------------*/

.page{
	.news{
		h3{
			font-size: 18px;
			line-height: 20px;
			font-weight: 600;
			color: $blue;
			padding-top: 10px;
			height: 60px;
		}
	}
}


/* Boring Page
----------------------------------------------------------------------------------------*/

.boring-page{
	
	section{		

		.main{
			padding-left: 20px;
			
			h2{
				font-size: 22px;
				padding-top: 25px;
				color: black;
			}
			
			h3{
				font-size: 18px;
				padding-top: 20px;
				color: black;
			}
			
			ul, li{
				color: black;
				line-height: 1.3em;
			}
		}
	
	}
}



/* Buy Tickets
----------------------------------------------------------------------------------------*/

#ticket-page{
	section{
		border-top: none;
	}
}



.tix{
	p{
		text-align: center;
		font-style: italic;
		font-size: 14px;
	}
}

.caravans{
	h3{
		margin-top: -5px;
	}
}


/* Footer
----------------------------------------------------------------------------------------*/

.announcment{
	background:white;
	position: relative;
}

footer{
	padding-bottom: 10px;
	padding-top: 150px;
	background-color: white;
	position: relative;
	z-index: 999;
	
	ul{
		padding-top: 0px;
		margin-top:-20px;
		margin-bottom: 40px; 
	}
	
	li{
		display: inline-block;
		padding-left: 20px;
	}
	
	a{
		border-bottom: 0;
	}
	
	img{
		position: absolute;
		bottom:45px;
		width: 200px;
	}
	
	img.footer-logo{
		left:0;
		bottom:0;
	}
	
	img.footer-img{
		right:0;
	}
}


/* Page-Intro
----------------------------------------------------------------------------------------*/

#splash{
	height:100vh;
	
	.content{
		padding: 0px;
		padding-top:0px;
	}

	.border{
		border: 0;
	}
	header, footer, .announcment{
		display: none;
	}
	img{
		height: 80vh;
		width: 80vh;
		display: block;
		margin: 2vh auto;

	}
	p{
		font-size: 11px;
		letter-spacing: 2px;
		text-align: center; 
		padding-top:17px;
	}
	.small-pad{
		padding-top: 5px;
	}
}

#splash{position: fixed;
background-color: white;
z-index: 9999999;
top:0;
left:0;
right: 0;
bottom:0;
width:100%;

}

a#splash:hover{
	opacity: 0.99;
}

#splash:visited{
	opacity: 0;

}

.visited{
	display: none;
}

