$blue: #0f346b;

$futura: 'futura-pt', sans-serif;

	
h1, h2, h3, h4, h5, p, a, ul, li{
	font-family: $futura;
	font-weight: normal;
	font-style: normal;
	margin: 0px;
	vertical-align: top;
	color: $blue;
	font-size: 15px;
}

p{
	color: $blue;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: 300;
}

h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 50px;
	padding-bottom: 40px;
	line-height: 65px;
}

h2 {
 	font-size: 34px;
 	font-weight: 600;
 	padding: 20px 0;
}

.page {
	
	h1{
		font-size: 28px;
		font-weight: 600;
		padding: 20px 0; 
		text-transform: none;
	}
	
	h2{
		font-size: 28px;
		font-weight: 600;
		padding: 20px 0; 
		text-transform: none;
	}
}



.announcment h2{
	font-size: 40px;
	text-transform: uppercase;
}

h3 {
 	font-weight: 600;
 	padding-bottom: 10px;
 	color: black;
 	font-size: 28px;
}

h4{
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 35px;
	font-weight: 600;
}


a{
	color: $blue;	
	border-bottom: 3px solid $blue;
	font-size: 1.1em;
	padding-bottom: 1px;
	font-weight: 600;
}

a:hover{
	opacity: 0.6;
	filter: alpha(opacity=80);
	color: $blue;
}
	
ul, li{
	padding-left: 0px;
	margin-left: 0px;
	list-style: none;
}

li{
	margin-left: 0px !important;
}

ul{
}

header{
	color: $blue;	
}

li{
	font-size: 15px;
}

button, .button, button:hover, .button:hover, button:active, .button:active{
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: $futura;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	display: inline-block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 18px;
	background-color: transparent;
	border-color: none;
	color: $blue;
}

.post-container-title h1{
	text-align: right;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 5em;
	color: $blue;
	margin-bottom: 40px;
}

.post-right p{
	margin-top: -6px;
}

strong{
	font-weight: 600;
}

.strong{
	font-weight: 600;
}

