/*
 Theme Name:   2017 Festival One Child
 Theme URI:    http://festival-one.co.nz
 Description:  Festival One Child Theme
 Author:       Harrison Burt
 Author URI:   http://burtsbusinesss.com
 Template:     festivalOne
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  festivalOne
*/

@import url("../festivalOne/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

body {
	font-family: 'futura-pt', sans-serif;
	color:black;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/* `Basic HTML
----------------------------------------------------------------------------------------------------*/



img {
	border:0;
	width:100%;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


/* Structure
----------------------------------------------------------------------------------------------------*/

.full-width{
	width: 100%;
}

.center{
	margin: 0 auto;
	text-align: center;
}

.spacing{
	padding-bottom: 20px;
}

.container{
	width: 80%;
	margin: 0 10%;
	overflow: auto;
	position: relative;
}

.third{
	width: 33.333%;
	float: left;
	position: relative;
}

.five-col{
	width: 20%;
	float: left;
	padding-right: 1.5%;
}


/* Contact Form Stylez
----------------------------------------------------------------------------------------------------*/


figure{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 40px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;	
}

.formwrap{
	width: 100%;
	padding: 0 10%;
}

.formwrap p{
	display:inline-block;
}

#post-4 img{
	padding-bottom: 20px;
}

.wpcf7 br{
	display: none;
}

.wpcf7-form-control-wrap, .wpcf7-form-control{
	display: inline-block;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"]{
	border: none;
	background: transparent;
	border-bottom: 1px solid #0f346b;
	color: #0f346b;
	border-radius: 0px;
	max-width: 300px;
	float:left;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-left: -5px;
	font-weight: normal;
	font-size: 1em;
}

input[type="submit"]{
	position: absolute;
	margin-top: 6px;
	margin-left: -10px;
	border: none;
	background: transparent;
	border-bottom: 1px solid #0f346b;
	color: #0f346b;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	cursor: pointer;
	padding-bottom: 8px;
	font-weight: normal	;
	font-family: 'futura-pt', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	

}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus{
	background-color: white;
	border-color: #0f346b;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.page-id-76 input[type="text"], .page-id-76 input[type="email"], .page-id-76 input[type="number"], .page-id-76 input[type="tel"]{
	float: none;
}

.page-id-76 p{
	vertical-align: top;
}

